@media(max-width:1090px){
  .main-menu__content{
    justify-content: space-evenly;
  }
}
@media(max-width:940px){
  .header__title{
    font-size: 50px;
  }
  .header__underTitle{
    font-size: 30px;
  }
  .header__description{
    font-size: 16px;
    margin-bottom: 40px;
  }
  .header__price{
    padding: 15px 60px;
    font-size: 50px;
  }
  .main-menu__list{
    justify-content: center;
  }
  .main-menu{
    padding: 25px 0;
  }
  .recipe{
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .recipe__title{
    font-size: 30px;
    margin-bottom: 25px;
  }
  .recipe__text{
    font-size: 16px;
  }
  .map__title{
    padding: 25px 0;
    font-size: 25px;
  }
}
@media (max-width:750px){
  .footer__list {
    flex-wrap: wrap;
  }
  .map__loc{
    height: 400px;
  }
  .footer{
    padding: 25px 0;
  }
  .nav__list_link{
    padding: 20px;
    font-size: 18px;
  }
  .main-menu__list_link{
    margin-right: 0;
  }
  .main-menu__list{
    justify-content: space-around;
  }
}