@font-face{
  font-family: 'Raleway';
  src: url('Raleway-Black.ttf');
  font-weight: 900;
  font-style: normal;
}
@font-face{
  font-family: 'Raleway';
  src: url('Raleway-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face{
  font-family: 'Raleway';
  src: url('Raleway-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'Raleway';
  src: url('Raleway-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: 'Raleway';
  src: url('Raleway-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}
@font-face{
  font-family: 'Roboto';
  src: url('Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}